<footer>     
    <div class="container-fluid">
        <div class="row">
                <span class="copyright">Copyright &copy; WMayer 2014</span>
        </div>
        <div class="row">
                <ul class="list-inline social-buttons text-center">
                    <li><a href="https://twitter.com/droidbr" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="https://www.linkedin.com/in/almeidaadrianow" target="_blank"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
        </div>
        <div class="row">
                This website is not affiliated with Stack Exchange but it uses its data according to their policies.
        </div>
        <div class="row text-muted">
                It is a work in progress so expect changes almost daily. Last update:21/10/2014
        </div>
    </div>
</footer>
