<!-- <h1>Stack Recommend!!
</h1>

<h2>
A recommender engine for Stack Overflow!
</h2>

<a href="#/selectUser"><input type="button" value="Start" class="uk-button uk-button-large uk-button-primary"></a>

<br>

<p>Click <a href="#/project" title="project">here</a> to know more about the project
</p> -->

<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-heading"><img src="images/logo.svg" alt="Logo Big" class="intro_logo"></div>
            <div class="intro-lead-in">reDiscover Stack Overflow</div>
            <a href="#/selectUser" class="intro_button">Start</a>
            <br><br>
            <div class="text-muted">
                “Learn from the mistakes of others. You can’t live long enough to make them all yourself.”
            </div>
            <div>
                Eleanor Roosevelt
            </div>

        </div>
    </div>
</header>
