    <section class="project-section">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 class="section-heading">The Project</h2>
            <h3 class="section-subheading text-muted">To know more about each subject, click on the image</h3>
            <h5 class="text-muted">This is a work in progress, so as things changes, I'll update this page.
            last update: 09/10/2014</h5>
        </div>
    </div>
    <div class="row margin_top">
        <div class="col-lg-12">
            <ul class="timeline">
                <li>
                    <div class="timeline-image">
                    <a href="project/#projectModal1" data-toggle="modal" analytics-on analytics-event="Project" analytics-category="click" analytics-label="Idea">
                       <img class="img-circle img-responsive" src="images/careers.png" alt="Stack Careers">
                     
                    </a>
                    </div>
                    
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="subheading">The Idea</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">It all began with Berlin, DSR and a job ad!</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                    <div class="timeline-image">
                        <a href="project/#projectModal2" data-toggle="modal" analytics-on analytics-event="Project" analytics-category="click" analytics-label="DataAnalysis">
                           <img class="img-circle img-responsive" src="images/data_analysis.png" alt="Stack Careers">
                        </a>
                   </div> 
                    
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="subheading">Data Analysis</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Before thinking about anything, analyse data and understand how it works. Make a new friend!</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-image">
                        <a href="project/#projectModal3" data-toggle="modal" analytics-on analytics-event="Project" analytics-category="click" analytics-label="Prototype">
                           <img class="img-circle img-responsive" src="images/prototype.png" alt="Prototype Image">
                        </a>
                        
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="subheading">Prototype</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">A recommendation engine does not need to be online to recommend something. An ipython notebook could be enough.</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                        
                    <div class="timeline-image">
                        <a href="project/#projectModal4" data-toggle="modal" analytics-on analytics-event="Project" analytics-category="click" analytics-label="BackgroundServer">
                           <img class="img-circle img-responsive" src="images/background.png" alt="background image">
                        </a>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="subheading">Background Server</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">Machine learning algorithims may not be the best thing to run in a browser. Background server, be welcome.</p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="timeline-image">
                        <a href="project/#projectModal5" data-toggle="modal" analytics-on analytics-event="Project" analytics-category="click" analytics-label="Frontend">
                           <img class="img-circle img-responsive" src="images/frontend.png" alt="">
                        </a>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="subheading">Web FrontEnd</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">You don't need to be a pretty face to be someone, but that helps, doesn't it?</p>
                        </div>
                    </div>
                </li>
                <li class="timeline-inverted">
                        
                    <div class="timeline-image">
                        <a href="project/#projectModal4" data-toggle="modal" analytics-on analytics-event="Project" analytics-category="click" analytics-label="Optimization">
                           <img class="img-circle img-responsive" src="images/optimization.png" alt="optimization image">
                        </a>
                    </div>
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="subheading">New features & Optimization</h4>
                        </div>
                        <div class="timeline-body">
                            <p class="text-muted">This project is still happening, so I am still adding features and optimizing it. What's up, doc?</p>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

 <!-- project Modal 1 -->
    <div class="project-modal modal fade" id="projectModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row row-centered">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>The Idea</h2>
                            <p class="item-intro text-muted">It all began with DSR and a job add!</p>
                            <div class="row">
                                <div class="col-xs-4 col-xs-offset-2">
                                    <img class="img-responsive" src="images/logo_ds_03.png" alt="dsr logo">
                                </div>
                                <div class="col-xs-4">                     
                                    <img class="img-responsive" src="images/careers-logo.png" alt="dsr logo">
                                </div>
                            </div>
                            <p class="justified">
                            I have been working with IT since the begining of 2000. <a href="http://linkedin.com/in/almeidaadrianow/" title="LinkedIn" target="_blank">After passing through many companies</a> I came to the conclusion that companies cannot only rely on their employess to find trends and insight on their data. So I have started to read and learn about Data Science, Machine Learning and Data Analysis</p>
                            <p class="justified">
                            As I am not a kid anymore, I decided to speed my learning curve doing a proper course on Data Science. Something that would be immersive and that would not take me years to do. A bootcamp seemed a good place to start. 
                            </p>

                            <p class="justified">
                                After some internet research, I found 3 courses that could help me achieve my objectives:
                            </p>
                            
                            <div class="row">
                                    <ul class="list-unstyled">
                                        <li>
                                        <a href="http://datascienceretreat.com/" title="Data Science Retreat" target="_blank">Data Science Retreat</a>
                                        </li>
                                        <li>
                                        <a href="http://www.zipfianacademy.com/" title="Zipfian Academy" target="_blank">Zipfian Academy</a>
                                        </li>
                                        <li>
                                        <a href="http://insightdataengineering.com/" title="Insight Data Engineering" target="_blank">Insight Data Engineering</a>
                                        </li>
                                    </ul>
                            </div>
                            <p class="justified">
                                I have opted for the Germany based course Data Science Retreat as it seemed to be ok and the data frame was better for me.
                            </p>
                                
                         
                            <p class="justified">
                                Fast forwarding 2 months, I had to choose a capstone project that would show some of the things learned. Choosing a project is not an easy task. It is an eternal trade between time and scope and the resources available to do it. Other ideas I had were already turned down for being to big, to difficult or even dangerous.
                            </p>
                            <p class="justified">One day, as I was using <a href="http://stackoverflow.com" target="_blank">Stack Overflow</a>, this career banner popped up with a Data Scientist opportunity. The job offer had a nice text but what called my attention was:
                            <blockquote cite="http://careers.stackoverflow.com/jobs/62161/data-science-engineer-stack-exchange?a=1sKDDCxGuURcA">
                                
                                <ul class="text-left">
                                    <li>Identify low-quality questions on Stack Overflow</li>
                                    <li><strong>Recommend questions I can answer, or might be interested in reading</strong></li>
                                    <li>Match developers with the right job for them on Careers, and companies with the right developers</li>
                                    <li>Whatever else you can think of!</li>
                                </ul>
                               
                            </blockquote>
                            That could make a good project. A nice website, used by thousand of people daily, open API, descent amount of calls a day. So I went for it and end up with <a href="http://nbviewer.ipython.org/github/adrianow/stackrecommend/blob/master/StackOverflow%20-%20Idea.ipynb" title="idea notebook" target="_blank">this notebook</a> with a compilation of the features I wanted for my final project. They are the base for the next steps of the project.
                            </p>

                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close This</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- project Modal 2 -->
    <div class="project-modal modal fade" id="projectModal2" tabindex="-2" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row row-centered">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Data Analysis</h2>
                            <p class="item-intro text-muted">Before doing anything, analyse data and understand how it works. Make a new friend!</p>
                            <p>for the full Python Notebook on this analysis, <a href="http://nbviewer.ipython.org/github/adrianow/stackrecommend/blob/master/StackOverflow%20-%20Data%20Analysis.ipynb" title="Data Analysis Notebook" target="_blank">click here</a> </p>

                            <p class="justified">
                                I had access to this Stack Overflow dump of May of 2014 containing posts, tags, users and comments. A total 39GB of "pure" information (XML). Seemed as a good start point for data investigation.
                            </p>
                            <p class="justified">
                                Wrong. Some of the files were to big to fit in memory so no real analysis were possible. Even doing a <code>wc -l</code> would take more than 3 minutes. The posts dump had the total of 19,881,020 lines.
                                So I have decided to begin from the beginning, understanding how the site works and their APIs. 
                            </p>
                            <p class="justified">
                                Making a real short story, Stack Overflow has a gamification system to reward the best users, the ones that help the others. It includes badges, privileges, status, etc. It also has timeframes, so you may be the best user of all time (Jon Skeet), but not the best user in the month, week or day. I have "discovered" that there are even sites that will hate it or love it and strategies to be well positioned like answering fast something and then editing later, get only the questions that seemed to be basic so a lot of people will use it later and give you later points and so on.
                            </p>

                            <p class="justified">
                                The <a href="https://api.stackexchange.com/docs" title="">APIs</a> is kind of simple and has quite a few ways of recovering information. Tags alone, tags by user, question based on tags, etc. It seems that all the methods that the real website uses are there. The problem is that I, as a Stack Exchange app, could only call the api 10k times and the most information I could bring in one call is 100. So, by the end of the day, the amount of information for a day would be 1,000,000 lines.
                            </p>
                            <p class="justified">
                                As a test dataset, I have downloaded the information for the 50k most active users (total) by that time and their tags. Below are some graphics and the conclusions I came with them (more explained in the notebook at the top)
                            </p>
                            <div class="row">
                                <h4> The top users have many tags, but they are really good at only some.</h4>
                                <div class="col-md-5 col-centered">
                                    <img src="images/jon_all_tags_points.png" alt="Jon Points ALL" class="img-responsive graphs">
                                    <div class="text-center">
                                        Jon Skeet all tags  
                                    </div>
                                </div>
                                <div class="col-md-5 col-centered">
                                    <img src="images/jon_top_10.png" alt="Jon Top 10" class="img-responsive graphs">
                                    <div class="text-center">
                                        Jon Skeet top 10 tags 
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <h4> Of 32k tags, only 1k really matters. It does not matter if the first 1k are order by points or by number of users</h4>
                                <div class="col-md-10 col-centered">
                                    <img src="images/all_tags.png" alt="Jon Points ALL" class="img-responsive graphs">
                                    <div class="text-center">
                                        All tags
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-5 col-centered">
                                    <img src="images/tags_top_1000.png" alt="Jon Top 10" class="img-responsive graphs">
                                    <div class="text-center">
                                        1k tags by points 
                                    </div>
                                </div>
                                <div class="col-md-5 col-centered">
                                    <img src="images/top_1000_users.png" alt="Jon Top 10" class="img-responsive graphs">
                                    <div class="text-center">
                                        1k tags by users 
                                    </div>
                                </div>
                            </div>

                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close This</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- project Modal 3 -->
    <div class="project-modal modal fade" id="projectModal3" tabindex="-2" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row row-centered">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Prototype</h2>
                            <p class="item-intro text-muted">A recommendation engine does not need to be online to recommend something. A python notebook could be enough.</p>
                            <p>for the full Python Notebook on this analysis, <a href="http://nbviewer.ipython.org/github/adrianow/stackrecommend/blob/master/StackOverflow%20-%20Prototype%20Machine%20Learning.ipynb" title="Prototype Notebook" target="_blank">click here</a> </p>

                            <p class="justified">
                                After talking to one of our mentors about my project and my <a href="http://nbviewer.ipython.org/github/adrianow/stackrecommend/blob/master/StackOverflow%20-%20Idea.ipynb" title="notebook ideas" target="_blank">ideas</a> on how to do it, I was convinced that I needed to test it and if it was doable, have a working prototype (with less features) as soon as I could. The objective was to have a product that people could use and later on I could do optimizations and add features, making the website and the machine learning part more robust. Someone could relate that with an iterative approach.
                            </p>
                            <p class="justified">
                                Other factor that influenced a lot my choices on the project was the fact that for the first time since I started working, I could focus my time only on learning, no other work related issues to worry my mind. So besides Machine Learning, the project would be a good place to improve/learn other technologies that I had interest. That raised the risk a little, but sure would pay me better in the end.
                                So, my project should:
                                <ul class="text-left">
                                    <li>
                                        Give recommendations to its user on things to read to acquire more knowledge about a subject;
                                    </li>
                                    <li>
                                        Have a web interface so people could use it. I wanted something dynamic and fast;
                                    </li>
                                    <li>
                                        Be hosted in the cloud;
                                    </li>
                                    <li>
                                        Be constructed in Python;
                                    </li>
                                    <li>
                                        Be easily deployable and should be version controlled;
                                    </li>
                                    <li>
                                        Should give me pleasure to do, not pain.
                                    </li>
                                </ul>
                                <p class="justified">The last part probably had a lot of weight on my decisions after that.</p>
                            </p>

                            <p class="justified">
                                Recommender systems are a whole different chapter in machine learning. Usually the data output of the system is not as straight forward as a regression (with a number) or a classification algorithm (a definer class). The output is a cluster number (a group number) that says that its members are closer to a central point. 
                                The two most notorious types are:
                                <ul class="text-left">
                                    <li>Content-based: the recommendations you receive are based on the content (products, music, pages) you have consumed;</li>
                                    <li>Collaborative filtering: the recommendations are based on the clients that are similar to you. If they liked something, you will probably like it as well;</li>
                                </ul>
                                <p class="text-left">
                                    I chose the collaborative filtering. Looking at the data <a href="http://www.stackoverflow.com" title="stackoverflow" target="_blank">Stack Overflow</a> produces, finding similar posts would not help me find new content to read. Finding other users with similar interests (posts) would.
                                </p>
                            </p>
                            <p class="justified">
                                So, I took the 30k users I had and the 1000k tags for each of them and created a sparse matrix (a table of userXtag points - 30M cells). Using the <a href="http://scikit-learn.org/stable/modules/clustering.html#clustering" title="scikit-learn" target="_blank">scikit-learn clustering</a> package I have trained some models and then I noticed that I would have a problem. How to measure the performance of each of the algorithms.
                            </p>

                            <p class="justified">
                                At this stage, I decided to choose the fastest algorithm that could process the data and give a baseline for comparison later. In this case, MiniBatch K Means was the clear winner, taking about 2s to process and group my data.
                            </p>
                            <p class="justified">
                                I was curious to see the result of the groups so I used myself as the test user. By that time, I had only 16 points on Stack OverFlow and my best tag was <code>python</code> with 4 points. It turns out that the recommendation was not good at all. It put me in a group where the users were specialists in <code>.Net</code> and had little experience (tags points) in python. The model was really 'crappy'.
                            </p>
                            <p class="justified">
                                They say that feature selection is the most important part of the machine learning. My previous experience with it had proven that it was mostly true. So I analyzed again the input data and realised that the model had given me exactly what I had asked for. He grouped me with people that had as low count on python (and other similar tags) as I had. 
                            </p>
                            <p class="justified">
                                I wanted to be compared to the best and cool guys and be put on their group and not with the 'not so good ones'. The way to do it would be to normalize our information so that I, with little points but at least more on python, could be close to a really experienced guy with the main tag python. Normalizing (making a proportion) of my points, the clustering could say that I, 70% experienced in python, could walk with <a href="http://stackoverflow.com/users/100297/martijn-pieters" title="Martijn Pieters" target='_blank'>Martijn Pieters</a>, 90% experienced in python.
                            </p>
                            <p class="justified">
                                After applying the normalization and retraining the model, I had what I expected. A new group of friends with posts interactions that I was interested and made sense to me. I could finally move to the next stage of the prototype that was creating a backend that could make the predictions and a front end that could display the posts to the final user.
                            </p>

                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close This</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

